#Shopping list of libraries your project needs. Like a recipe's ingredient list.

torch
diffusers
transformers
accelerate
huggingface_hub
gradio==5.50.0
imageio
imageio-ffmpeg
numpy
Pillow
sentencepiece